html {
    display: flex;
    justify-content: center;
}

body {
    width: 1160px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #782221 ;
    padding-bottom: 25px;
}

.photo {
    width: 160px;
    height: 180px;
    border-radius: 50%;
    margin-top: 65px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 0px 5px;
}

h1 {
    font-family: 'Lato';
    color: white;
}

h2 {
    font-family: 'Lato';
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #2c1d27;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    font-family: 'Raleway';
    color: white;
    font-style: italic;
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover
{
text-decoration: underline;
}

div {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    width: 22%;
    background-color: #782221 ;
    padding-top: 40px;
    padding-right: 30px;
}

h3 {
    font-family: 'Lato';
    font-size: 19px;
    background-color: #dbc2a4;
    font-weight: bold;
    text-indent: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pA {
    font-family: 'Raleway';
    font-size: 14px; 
    margin-top: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-bottom: 3px;
    text-indent: 20px;
    color: white;
}

.ulA {
    font-family: 'Raleway';
    font-size: 14px; 
    margin-top: 10px;
    color: white;
}

main {
    width: 78%;
    padding-top: 41px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid;
}

h4 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    text-indent: 10px;
}

.pM {
    font-family: 'Raleway';
    text-indent: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #782221 ;
    height: 80px;
    padding-top: 25px;
}

.logo {
    width: 30px;
    height:40px;
    margin-left: 10px;
    margin-right: 10px;
}

